<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8">
	<title>勤怠情報変更｜LMS</title>
</head>

<body>

	<th:block th:if="${session.loginUserDto.role == '0001'}">
		<h2>勤怠管理</h2>
	</th:block>

	<th:block th:if="${session.loginUserDto.role != '0001'}">
		<h2>勤怠管理 <small>( [[${attendanceForm.userName}]] )</small></h2>
		<th:block th:if="${session.loginUserDto.leaveFlg == '1'}">
			<h2><small>途中退校日：${dispLeaveDate}</small></h2>
		</th:block>
	</th:block>

	<div class="row">
		<!-- 藤原峻也 - Task.29 -->
		<form th:action="@{/attendance/update}" th:object="${attendanceForm}" method="post">
			<div class="bs-component col-sm-12" style="max-height: 625px; overflow-y: auto;">
				<table class="table table-hover dataTable no-footer">
					<!-- 藤原峻也 - Task.29 -->
					<thead style="position: sticky; top: 0; background-color: #fff; z-index: 1;">
						<tr>
							<th class="w140">日付</th>
							<th class="w300">コース内容</th>
							<!-- 藤原峻也 Task.28 -->
							<th class="w50"></th>
							<!-- 藤原峻也 Task.26 -->
							<th class="w90" colspan="3">出勤</th>
							<!-- 藤原峻也 Task.26 -->
							<th class="w90" colspan="3">退勤</th>
							<th class="w160">中抜け時間</th>
							<th class="w70">ステータス</th>
							<th class="w240">備考</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="dailyAttendanceForm, stat : *{attendanceList}">
							<tr>
								<th:block>
									<input type="hidden" th:name="|attendanceList[${stat.index}].isToday|"
										th:value="${dailyAttendanceForm.isToday}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].studentAttendanceId|"
										th:value="${dailyAttendanceForm.studentAttendanceId}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].trainingDate|"
										th:value="${dailyAttendanceForm.trainingDate}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].dispTrainingDate|"
										th:value="${dailyAttendanceForm.dispTrainingDate}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].sectionName|"
										th:value="${dailyAttendanceForm.sectionName}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].statusDispName|"
										th:value="${dailyAttendanceForm.statusDispName}" />
								</th:block>
								<td class="w140">[[${dailyAttendanceForm.dispTrainingDate}]]</td>
								<td class="w300">[[${dailyAttendanceForm.sectionName}]]</td>

								<!-- 藤原峻也 Task.28 定時ボタン -->
								<td>
									<button type="button" class="btn btn-success default-button"
										style="margin-top: 0.5px;">
										定時
									</button>
								</td>


								<!-- 藤原峻也 Task.26 開始時間 -->
								<td class="w90">
									<select th:name="|attendanceList[${stat.index}].trainingStartTimeHour|"
										class="form-control">
										<option th:each="entry : ${attendanceForm.hourMap}" th:value="${entry.key}"
											th:text="${entry.value}"
											th:selected="${entry.key == dailyAttendanceForm.trainingStartTimeHour}">
										</option>
									</select>
								</td>
								<td>:</td>
								<td class="w90">
									<select th:name="|attendanceList[${stat.index}].trainingStartTimeMinute|"
										class="form-control">
										<option th:each="entry : ${attendanceForm.minuteMap}" th:value="${entry.key}"
											th:text="${entry.value}"
											th:selected="${entry.key == dailyAttendanceForm.trainingStartTimeMinute}">
										</option>
									</select>
								</td>

								<!-- 終了時間 -->
								<td class="w90">
									<select th:name="|attendanceList[${stat.index}].trainingEndTimeHour|"
										class="form-control">
										<option th:each="entry : ${attendanceForm.hourMap}" th:value="${entry.key}"
											th:text="${entry.value}"
											th:selected="${entry.key == dailyAttendanceForm.trainingEndTimeHour}">
										</option>
									</select>
								</td>
								<td>:</td>
								<td class="w90">
									<select th:name="|attendanceList[${stat.index}].trainingEndTimeMinute|"
										class="form-control">
										<option th:each="entry : ${attendanceForm.minuteMap}" th:value="${entry.key}"
											th:text="${entry.value}"
											th:selected="${entry.key == dailyAttendanceForm.trainingEndTimeMinute}">
										</option>
									</select>
								</td>

								<td class="w160">
									<select th:name="|attendanceList[${stat.index}].blankTime|" class="form-control">
										<option th:each="blankTime : ${attendanceForm.blankTimes}"
											th:value="${blankTime.key}" th:inlne="text" class="form-control"
											th:selected="${blankTime.key == dailyAttendanceForm.blankTime}">
											[[${blankTime.value}]]</option>
									</select>
								</td>
								<td class="w70">[[${dailyAttendanceForm.statusDispName}]]</td>
								<td class="w240">
									<input type="text" th:name="|attendanceList[${stat.index}].note|"
										th:value="${dailyAttendanceForm.note}" class="form-control"></input>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>

			</div>
			<div class="form-group">
				<th:block th:if="${session.loginUserDto.role == '0001'}">
					<a th:href="@{/attendance/detail}" class="btn btn-default">戻る</a>
				</th:block>
				<th:block th:if="${session.loginUserDto.role != '0001'}">
					<input type="submit" value="戻る" name="indexCompany" class="btn btn-default" />
				</th:block>
				<input type="submit" value="更新" name="complete" class="btn btn-info" />
			</div>
		</form>
	</div>

	<!-- 藤原峻也 - Task.28 ボタン処理 -->
	<script>
		$(function () {
			// ボタンがクリックされたとき
			$('.default-button').on('click', function () {
				// クリックされたボタンと同じ行（tr）を取得
				var $row = $(this).closest('tr');

				// 出勤時間09:00にセット
				$row.find('select[name*="trainingStartTimeHour"]').val('9');
				$row.find('select[name*="trainingStartTimeMinute"]').val('0');

				// 退勤時間18:00にセット
				$row.find('select[name*="trainingEndTimeHour"]').val('18');
				$row.find('select[name*="trainingEndTimeMinute"]').val('0');
			});
		});
	</script>

</body>

</html>